.bold {
  font-weight: bold; }

.c01 {
  background: #e86c1f; }

.c02 {
  background: #006633; }

.c03 {
  background: #669966; }

.c04 {
  background: #af9400; }

.c05 {
  background: #5b0086; }

.c06 {
  background: #660033; }

.c07 {
  background: #04424b; }

.c08 {
  background: #333366; }

.c09 {
  background: #993333; }

.c10 {
  background: #184780; }

.c11 {
  background: #184780; }

.c1 {
  background-color: #e86c1f;
  color: #fff; }

.c2 {
  background-color: #006633;
  color: #fff; }

.c3 {
  background-color: #af9400;
  color: #fff; }

.c4 {
  background-color: #669966;
  color: #fff; }

.c5 {
  background-color: #5b0086;
  color: #fff; }

.c6 {
  background-color: #660033;
  color: #fff; }

.c7 {
  background-color: #04424b;
  color: #fff; }

.c8 {
  background-color: #333366;
  color: #fff; }

.c9 {
  background-color: #993333;
  color: #fff; }

.c10 {
  background-color: #993300;
  color: #fff; }

.c11 {
  background-color: #184780;
  color: #fff; }

.c12 {
  background-color: #669933;
  color: #fff; }

.c13 {
  background-color: #663333;
  color: #fff; }

.c14 {
  background-color: #0a6c4f;
  color: #fff; }

.c15 {
  background-color: #78a12e;
  color: #fff; }

.c16 {
  background-color: #00919e;
  color: #fff; }

body {
  background: #071427 url(https://web.middlebury.edu/development/tools/1d2010/Images/bluegradient.jpg) no-repeat center top; }

header.main .login {
  float: right; }
  header.main .login a {
    color: white; }
header.main h1 {
  font-weight: 500; }
  header.main h1 a {
    color: white; }

#main .navbar .navbar-inner {
  border-radius: 0; }

.btn {
  border-radius: 0; }

.article {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px; }
  .article .article-header a {
    color: inherit; }
  .article .article-author {
    margin: 5px 0px;
    font-size: 14px; }
    .article .article-author a {
      color: black; }

.main-article {
  background: white; }
  .main-article .article-header {
    padding: 10px; }
    .main-article .article-header a {
      color: inherit; }
  .main-article .article-author {
    padding: 0 10px;
    margin: 5px 0px;
    font-size: 14px; }
    .main-article .article-author a {
      color: black; }
  .main-article .article-description {
    padding: 10px; }
    .main-article .article-description img.right {
      float: right;
      margin-left: 5px;
      margin-bottom: 5px; }
    .main-article .article-description img.left {
      float: left;
      margin-right: 5px;
      margin-bottom: 5px; }
  .main-article .article-meta {
    padding: 10px; }
    .main-article .article-meta ul {
      display: inline; }
      .main-article .article-meta ul li {
        display: inline; }

ul.no-style {
  list-style: none; }

.db-home .span4, .db-home .span3 {
  background: white;
  min-height: 300px; }
  .db-home .span4 h4, .db-home .span3 h4 {
    padding: 0 10px; }

.db-company {
  background: white;
  margin: 0; }
  .db-company .span12 .page-image {
    float: right;
    padding: 5px 25px; }
    .db-company .span12 .page-image img {
      height: 60px;
      width: auto; }
  .db-company .span4, .db-company .span3 {
    font-size: 12px; }
    .db-company .span4 h4, .db-company .span3 h4 {
      border-bottom: 1pt solid black; }
    .db-company .span4 table tr, .db-company .span3 table tr {
      padding: 0px; }
      .db-company .span4 table tr td, .db-company .span3 table tr td {
        padding: 0px 2px; }

.login-page {
  margin: 0; }
  .login-page .span12 {
    margin: 0 auto;
    background: white;
    height: 300px;
    text-align: center; }
    .login-page .span12 .control-group .help-inline {
      display: none; }
    .login-page .span12 .control-group.error .help-inline, .login-page .span12 .control-group.warning .help-inline {
      display: inline; }

.contribute {
  text-align: center; }
  .contribute ul {
    margin: 0;
    padding: 0; }
    .contribute ul li {
      padding: 10px 0; }

footer.main {
  text-align: center;
  padding: 20px;
  color: white; }
